
.texto {
    text-align: center;
    color: #5f0637;    
}

p{
    font-size: 20px;
}

.atributos{
    height: 20%;
    padding: 20px;
    margin: 30px;
    border-radius: 20px;
    background-color:#ffefe1;     
} 

.ficcao {
    border-bottom:1px solid #be1371;
    padding-left: 5px;
}

.nficcao{
    border-bottom:1px solid #437dcf;
    padding-left: 5px; 
}

.bi{
    color: #733F2D;
    
}

.img-livro{
    margin-bottom: 20px;
    margin-left: 10px;
}

