body{
    display: grid;
    background-color: #f3d4b8;
    /* background-color: #586374;     
    background-image: linear-gradient(315deg, #A1CCCC 0%, #586374 74%);
   */
    
}

.navbar{
    background-color: white;     
    height: 18%;
}

.logo-claro {
    width:  90px ;
    /* margin-left: 1,5rem; 24px */
    margin: 10px;
}


.texto {
    text-align: center;
    color: #5f0637;    
}

p{
    font-size: 20px;
}


.atributos{
    height: 20%;
    padding: 20px;
    margin: 30px;
    border-radius: 20px;
    background-color:#ffefe1;     
} 

.ficcao {
    border-bottom:1px solid #be1371;
    padding-left: 5px;
}

.nficcao{
    border-bottom:1px solid #437dcf;
    padding-left: 5px; 
}

.bi{
    color: #733F2D;
    
}

img{
    margin-bottom: 20px;
    margin-left: 10px;
}

footer{
    height: 130px;
    font-size: 14px;
}

footer a{
    font-size: 16px;
    text-decoration: none;
    color:rgb(75, 75, 75);
   
}

.redes{
    background-color:#dfdfdf ;
   
}
